body{
	background-color: greenyellow;
	width: 500px;
	margin: auto;
	color: #505;
}
H1{
	text-align: center;
	color: #777;
		font-style: italic;
	font-size: 32px;
}
ul{
	text-align: right;
	font-style: bold;
	font-size: 24px;
	color: red;
	}
